.vs
.vscode
Binaries
Intermediate
Content/AdvancedLocomotionV4
Content/AdvancedVillagePack
Content/PlayerBuildingSystem
Content/Genshin/
Content\Ultimate_Traversal_Anims
Content/Table/*.ini
Plugins/**/Binaries
Plugins/**/Intermediate
Saved
*.sln
*.uproject
*.log
*.pyc
*.pb
*.pb.cc
*.pb.h
!Plugins/**/*.pb.cc
!Plugins/**/*.pb.h
/**/.ipynb_checkpoints