.vs
.vscode
Binaries
Intermediate
Content\AdvancedLocomotionV4
Content\AdvancedVillagePack
Content\Ultimate_Traversal_Anims
Plugins\**\Binaries
Plugins\**\Intermediate
Content\Genshin\
Saved
*.sln
*.uproject
*.log
*.pyc